<script type="module" src="../js/vlm.js"></script>
<!-- <div class="products-center">
    start of cart item
  <div class="cart-overlay">
    <div class="cart">
        <span class="close-cart">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
          </svg>
        </span>
        <h2>Your Cart</h2>
        <div class="cart-content">
            cart-item
 
            <div class="cart-footer">
                <h3>Current Total: <span class="cart-total">0</span></h3>
                <button class="clear-cart banner-btn">Clear cart</button>
            </div>
        </div>
    </div>
</div>
  </div> -->
</body>
</html>